.cart {
    width: 400px;
    height: 100%;
    display: none;
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    z-index: 200;
    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__footer {
        height: 100px;
        &-btn {
            width: 100%;
        }
        .checkout__btn {
            width: 100%;
        }
    }
    @media (max-width: 768px) { 
        width: 100%;
    }
}
.cart--is-open {
    z-index: 200;
}
