.filter {
    padding: 10px 20px;
    &__header {
        border-bottom: 1px solid #000;
    }
    &__title {
        border-bottom: 1px solid #000;
        &-header {
            span {
                font-size: 15px;
            }
        }
    }
    &__title-header,
    &__price-header {
        cursor: pointer;
    }
    @media (max-width: 768px) { 
        margin-bottom: 20px;
    }
}